{% extends 'base.html' %}

{% block title %}Math Lecture Series  | Enjoy your hourney - My School {% endblock title %}

{% block css %} <link rel="stylesheet" href="/static/css/style.css"> {% endblock css %}

{% block body %}

{% load extras %}
{% load humanize %}


<h1 class="mb-3 mt-2 text-center text-info border border-rectangle"> Maths Series </h1>
<div class="container-fluid">
  <div class="row">
            
    <!-- video panel -->
    <div class="col-md-9">
      <video controls width="100%" controlsList="nodownload" buffered>
        <source src="/media/{{cur_vid.videoFile}}" type="video/mp4">
      </video>
      <h3> {{cur_vid.title}} </h3>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="desc-tab" data-toggle="tab" href="#home" role="tab" aria-controls="desc" aria-selected="true">Descriptions</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="desc" role="tabpanel" aria-labelledby="desc-tab">{{cur_vid.desc}}</div>
      </div>
    </div>

    <!-- lectures list -->
    <div class="col-md-3" id="sidebar">
      <h3>tutorials :-</h3>
      <ul class="list-group" id="unstyle-list">

        {% for series in all_series %}
          <li class="list-group-item text-light"><a href="/tut11/math-{{series.slug}}">{{series.title}}</a></li>
        {% endfor %}  
                
      </ul>
    </div>
  </div>
</div>

<hr> 

<div class="container my-3">
  <!--Add comments -->
  <h2>Comments ({{comments.count}})</h2>
  <div class="container my-3">
    <form action="/tut11/mathComment/" method="post">{% csrf_token %}
      <div class="form-group">
        <label for="postc">Post Comment</label>
        <input type="text" class="form-control" id="postc" name="content" placeholder="Enter your comment...">
        <input type="hidden" value="" name="parentSno">
      </div>
        <input type="hidden" value="{{cur_vid.sr}}" name="cur_vid_num">
        <button type="submit" class="btn btn-outline-success">Post</button>
    </form>
  </div>

  <!-- show comments -->
  {% for comment in comments %}
  <div class="row my-2">

    <div class="col-md-1">
      <img src="/static/tut11/user.png" class="rounded mx-auto border border-primary rounded-circle" alt="img" width="60px">
    </div>

    <div class="col-md-11"><b>{{comment.user}}</b> 
      <span class="badge badge-pill badge-info">{{comment.datestamp|naturaltime}}</span>
      <div>{{comment.comment}}</div>  

      <!-- add Reply  -->
      <div class="reply">

        <!-- collaps button -->
        <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse"
          data-target="#reply{{comment.sr}}" aria-expanded="false" aria-controls="reply{{comment.sr}}">
            reply
        </button>

        <div class="collapse" id="reply{{comment.sr}}">
          <div class="card card-body my-2">
  
            <form action="/tut11/mathComment/" method="post">{% csrf_token %}
              <div class="form-group">
                <label for="postc">Reply to Comment</label>
                <input type="text" class="form-control" id="postc" name="content" placeholder="Enter your comment">
                <input type="hidden" value="{{comment.sr}}" name="parentSno">
              </div>
              <input type="hidden" value="{{cur_vid.sr}}" name="cur_vid_num">
              <button type="submit" class="btn btn-outline-success">Post</button>
            </form>

          </div>
        </div>

      </div>

      <!-- showr replies -->
      <div class="replies bg-light my-2 mx-5">
        {% for reply in replies|get_val:comment.sr %}
        <div class="row my-3">
          <div class="col-md-1">
            <img src="/static/tut11/user.png" class="rounded mx-auto border border-primary rounded-circle my-1" alt="img" width="30px">
          </div>
          <div class="col-md-11">
            <b>{{reply.user}}</b> <span class="badge badge-pill badge-info">{{reply.datestamp|naturaltime}}</span>
            <div>{{reply.comment}}</div>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
  {% endfor %}
</div>  


<!-- footer -->
<div class="container-fluid p-0 bg-warning">
    <p class="mb-0 py-2 text-center coll" >we reserved &#x00A9; copyright 2020 wwww.myschool.com</p> 
</div>

{% endblock body %}
